@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline-width: none;
  outline: none;
}

h1 {
  font-size: calc(1.5em + 1.5vw);
  letter-spacing: 3px;
}

@media (max-width: 520px) {
  h1 {
    font-size: calc(1.7em + 1.7vw);
  }
}

p {
  color: darkgray;
  line-height: 1.7;
  font-size: 14.5px;
}

.container {
  max-width: 1400px;
  margin: auto;
}

html {
  scroll-behavior: smooth;
  font-family: "DM Sans";
  font-size: 16px;
}

header {
  width: 100%;
  background-color: white;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 300;
}

@media (max-width: 767px) {
  header nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header nav a {
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

header nav a:hover {
  color: darkgray;
}

header nav .desktopmenu .nav-menu {
  margin-left: 20px;
}

header nav .desktopmenu .nav-menu .nav-item {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 1.7rem;
}

header nav .desktopmenu .nav-menu .nav-item a {
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

header nav .desktopmenu .nav-menu .nav-item a:hover {
  color: darkgray;
}

header nav .mobilemenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  position: absolute;
  width: 100%;
  top: -100%;
  right: 0;
  left: 0;
  text-align: center;
  padding: 1.5rem 0;
  -webkit-transition: .4s linear;
  transition: .4s linear;
  z-index: 290;
}

header nav .mobilemenu .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-bottom: 2rem;
}

header nav .mobilemenu .nav-menu .nav-item {
  margin-bottom: 1.2rem;
}

header nav .mobilemenu .nav-menu .nav-item {
  text-transform: uppercase;
}

header nav .mobilemenu .nav-menu .nav-item a {
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

header nav .mobilemenu .nav-menu .nav-item a:hover {
  color: darkgray;
}

header nav .mobilemenu .cta {
  text-align: center;
}

header nav .mobilemenu.showmenu {
  top: 5rem;
}

header nav .cta {
  background-color: black;
  color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 12px 20px;
  letter-spacing: 2px;
  font-weight: 700;
}

header nav .nav-toggle {
  z-index: 7000;
  cursor: pointer;
}

header nav .hide {
  display: none;
}

.homehero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

@media (max-width: 520px) {
  .homehero-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.homehero-section .hero-text-container {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homehero-section .hero-text-container .hero-text {
  padding: 0 10%;
}

@media (min-width: 1400px) {
  .homehero-section .hero-text-container .hero-text {
    padding: 0 17%;
  }
}

@media (max-width: 520px) {
  .homehero-section .hero-text-container .hero-text {
    padding: 15% 7%;
  }
}

.homehero-section .hero-text-container .hero-text .text {
  position: relative;
}

.homehero-section .hero-text-container .hero-text .text::after {
  content: "";
  position: absolute;
  left: -12.4%;
  top: 0;
  height: 100%;
  width: 5px;
  background: -webkit-gradient(linear, left bottom, left top, from(#FFC593), color-stop(#BC7198), to(#5A77FF));
  background: linear-gradient(to top, #FFC593, #BC7198, #5A77FF);
}

@media (min-width: 1400px) {
  .homehero-section .hero-text-container .hero-text .text::after {
    left: -25.7%;
  }
}

@media (max-width: 768px) {
  .homehero-section .hero-text-container .hero-text .text::after {
    left: -12.4%;
  }
}

@media (max-width: 520px) {
  .homehero-section .hero-text-container .hero-text .text::after {
    height: 6px;
    width: 110px;
    left: 0;
    top: -15vw;
    background: -webkit-gradient(linear, left top, right top, from(#FFC593), color-stop(#BC7198), to(#5A77FF));
    background: linear-gradient(to right, #FFC593, #BC7198, #5A77FF);
  }
}

.homehero-section .hero-text-container .hero-text .paragraph {
  margin-bottom: 3em;
}

.homehero-section .hero-text-container .hero-text h1 {
  color: white;
  margin-bottom: 1.5rem;
  font-size: calc(1.5em + 1.5vw);
  letter-spacing: 3px;
}

@media (max-width: 520px) {
  .homehero-section .hero-text-container .hero-text h1 {
    font-size: calc(1.7em + 1.7vw);
  }
}

.homehero-section .hero-text-container .hero-text a {
  color: white;
  letter-spacing: 2px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.homehero-section .hero-text-container .hero-text a p {
  color: white;
}

.homehero-section .hero-text-container .hero-text a svg {
  margin-left: 16px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.homehero-section .hero-text-container .hero-text a:hover p {
  color: darkgray;
}

.homehero-section .hero-text-container .hero-text a:hover svg {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.homehero-section .image-container .hero-image {
  height: 100%;
  overflow: hidden;
}

@media (max-width: 1149px) {
  .homehero-section .image-container .hero-image {
    width: calc(100% + 2.55rem);
  }
}

@media (max-width: 950px) {
  .homehero-section .image-container .hero-image {
    width: auto;
  }
}

@media (max-width: 520px) {
  .homehero-section .image-container .hero-image {
    -o-object-position: center;
       object-position: center;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.beautiful__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 520px) {
  .beautiful__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.beautiful__section-image-container img {
  height: 100%;
}

@media (max-width: 520px) {
  .beautiful__section-image-container img {
    width: 100%;
  }
}

.beautiful__section-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.beautiful__section--text {
  padding: 0 10%;
}

@media (min-width: 1400px) {
  .beautiful__section--text {
    padding: 0 17%;
  }
}

@media (max-width: 520px) {
  .beautiful__section--text {
    padding: 15% 7%;
  }
}

.beautiful__section--text h1 {
  margin-bottom: 1.5rem;
}

.beautiful__section--text .paragraph {
  margin-bottom: 3em;
}

.beautiful__section--text a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  letter-spacing: 2px;
}

.beautiful__section--text a .arrow {
  margin-left: 16px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.beautiful__section--text a p {
  color: black;
  letter-spacing: 2px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.beautiful__section--text a:hover p {
  color: darkgray;
}

.beautiful__section--text a:hover .arrow {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.designed__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

@media (max-width: 520px) {
  .designed__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.designed__section-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.designed__section-text {
  padding: 0 10%;
}

@media (min-width: 1400px) {
  .designed__section-text {
    padding: 0 17%;
  }
}

@media (max-width: 520px) {
  .designed__section-text {
    padding: 15% 7%;
  }
}

.designed__section-text h1 {
  margin-bottom: 1.5rem;
}

.designed__section-text .paragraph {
  margin-bottom: 3em;
}

.designed__section-text a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  letter-spacing: 2px;
}

.designed__section-text a p {
  color: black;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.designed__section-text a .arrow {
  margin-left: 25px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.designed__section-text a:hover p {
  color: darkgray;
}

.designed__section-text a:hover .arrow {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.designed__section-image-container img {
  height: 100%;
}

@media (max-width: 520px) {
  .designed__section-image-container img {
    width: 100%;
  }
}

.stories__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .stories__section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 520px) {
  .stories__section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.stories__section-image-container {
  -ms-flex-preferred-size: calc(100% / 4);
      flex-basis: calc(100% / 4);
  position: relative;
  height: 420px;
  width: 100%;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.stories__section-image-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  -webkit-filter: brightness(0.75);
          filter: brightness(0.75);
}

.stories__section-image-container .text-wrapper {
  padding: 6% 7%;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-width: 520px) {
  .stories__section-image-container .text-wrapper {
    padding: 2rem;
  }
}

@media (max-width: 375px) {
  .stories__section-image-container .text-wrapper {
    padding: 1.5rem;
  }
}

.stories__section-image-container .text-wrapper h3 {
  color: white;
  font-size: calc(.5em + .8vw);
  margin-bottom: 3px;
}

@media (max-width: 1024px) {
  .stories__section-image-container .text-wrapper h3 {
    font-size: 1.2rem;
  }
}

.stories__section-image-container .text-wrapper .author {
  margin-bottom: 12px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12.5px;
}

.stories__section-image-container .text-wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.33);
  padding-top: 11px;
  letter-spacing: 2px;
  font-weight: 700;
}

.stories__section-image-container .text-wrapper a p {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
}

.stories__section-image-container:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.features__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8% 10%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

@media (max-width: 768px) {
  .features__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
    row-gap: 3rem;
  }
}

@media (max-width: 520px) {
  .features__section {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15%;
  }
}

.features__section-features-item {
  text-align: center;
}

.features__section-features-item:nth-child(2) {
  margin-top: 2.6rem;
}

.features__section-features-item svg {
  margin-bottom: 3rem;
}

.features__section-features-item h3 {
  margin-bottom: 1rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  .features__section-features-item {
    margin-top: 3rem;
  }
}

.footer__section {
  background-color: black;
  padding: 4% 10%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1%;
          column-gap: 1%;
  position: relative;
}

@media (max-width: 768px) {
  .footer__section {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 6%;
    padding-bottom: 6%;
  }
}

@media (max-width: 685px) {
  .footer__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 11%;
    padding-bottom: 3rem;
  }
}

@media (max-width: 550px) {
  .footer__section {
    padding-top: 3rem;
  }
}

.footer__section-logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.footer__section-logo-container .social-icons-container svg {
  margin-right: 13px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .footer__section-logo-container {
    height: 150px;
  }
}

@media (max-width: 768px) {
  .footer__section-logo-container {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

@media (max-width: 685px) {
  .footer__section-logo-container .logo {
    margin-bottom: 2rem;
  }
  .footer__section-logo-container .social-icons-container {
    margin-left: 8px;
  }
}

.footer__section-nav-container {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 685px) {
  .footer__section-nav-container {
    margin: 3rem 0;
  }
}

.footer__section-nav-container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 120px;
}

.footer__section-nav-container nav ul li a {
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.footer__section-nav-container nav ul li a:hover {
  color: darkgray;
}

@media (max-width: 1024px) {
  .footer__section-nav-container nav {
    position: absolute;
    top: 85px;
    left: 10%;
  }
  .footer__section-nav-container nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__section-nav-container nav ul li {
    margin-right: 1.6rem;
  }
}

@media (max-width: 768px) {
  .footer__section-nav-container nav {
    left: 5%;
  }
}

@media (max-width: 685px) {
  .footer__section-nav-container nav {
    position: initial;
  }
  .footer__section-nav-container nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__section-nav-container nav ul li {
    margin-right: 0;
    margin-bottom: 1.5rem;
    text-align: center;
  }
}

.footer__section .link {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.footer__section .link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__section .link a:hover p {
  color: darkgray;
}

.footer__section .link a:hover svg {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.footer__section .link a p {
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.footer__section .link a svg {
  margin-left: 16px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.footer__section .link .copy {
  text-align: right;
  font-size: 14px;
}

@media (max-width: 1024px) {
  .footer__section .link {
    height: 150px;
  }
}

@media (max-width: 768px) {
  .footer__section .link {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}

@media (max-width: 685px) {
  .footer__section .link {
    margin-top: 3rem;
  }
  .footer__section .link a {
    margin-left: -20px;
    margin-bottom: 2rem;
  }
}

.featurehero__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

@media (max-width: 520px) {
  .featurehero__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.featurehero__section-text-container {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featurehero__section-text-container .text {
  position: relative;
}

.featurehero__section-text-container .text h1 {
  color: white;
  margin-bottom: 1.5rem;
  letter-spacing: 3px;
}

.featurehero__section-text-container .text::after {
  content: "";
  position: absolute;
  left: -12.5%;
  top: 0;
  height: 100%;
  width: 5px;
  background: -webkit-gradient(linear, left bottom, left top, from(#FFC593), color-stop(#BC7198), to(#5A77FF));
  background: linear-gradient(to top, #FFC593, #BC7198, #5A77FF);
}

@media (max-width: 768px) {
  .featurehero__section-text-container .text::after {
    left: -12.4%;
  }
}

@media (max-width: 520px) {
  .featurehero__section-text-container .text::after {
    height: 6px;
    width: 110px;
    left: 0;
    top: -15vw;
    background: -webkit-gradient(linear, left top, right top, from(#FFC593), color-stop(#BC7198), to(#5A77FF));
    background: linear-gradient(to right, #FFC593, #BC7198, #5A77FF);
  }
}

@media (min-width: 1400px) {
  .featurehero__section-text-container .text::after {
    left: -25.7%;
  }
}

.featurehero__section-text {
  padding: 0 10%;
  position: relative;
}

@media (min-width: 1400px) {
  .featurehero__section-text {
    padding: 0 17%;
  }
}

@media (max-width: 520px) {
  .featurehero__section-text {
    padding: 15% 7%;
  }
}

.featurehero__section .image-container img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 520px) {
  .featurehero__section .image-container img {
    -o-object-position: center;
       object-position: center;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.featurelist__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .featurelist__section {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 12%;
    padding-bottom: 12%;
  }
}

@media (max-width: 520px) {
  .featurelist__section {
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 15%;
  }
}

.featurelist__section-item {
  -ms-flex-preferred-size: 31.66667%;
      flex-basis: 31.66667%;
  text-align: center;
}

.featurelist__section-item:nth-child(2) {
  margin-top: 2.6rem;
}

@media (max-width: 500px) {
  .featurelist__section-item:nth-child(2) {
    margin-top: 0;
  }
}

.featurelist__section-item svg {
  margin-bottom: 3rem;
}

.featurelist__section-item h3 {
  margin-bottom: 1rem;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .featurelist__section-item {
    -ms-flex-preferred-size: calc(95% / 2);
        flex-basis: calc(95% / 2);
  }
}

@media (max-width: 520px) {
  .featurelist__section-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.cta__section {
  position: relative;
  padding: 5% 10%;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .cta__section {
    padding: 7% 5% 7%;
  }
}

@media (max-width: 425px) {
  .cta__section {
    padding: 12% 5% 12%;
  }
}

.cta__section-img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cta__section-img-container img {
  width: 100%;
  height: 100%;
}

.cta__section .cta-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 570px) {
  .cta__section .cta-text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.3rem;
    text-align: center;
  }
}

.cta__section .cta-text h1 {
  color: white;
  size: calc(1.3em + 1.3vw);
}

.cta__section .cta-text a {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cta__section .cta-text a p {
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.cta__section .cta-text a svg {
  margin-left: 16px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.cta__section .cta-text a:hover p {
  color: darkgray;
}

.cta__section .cta-text a:hover svg {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.storieshero__section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.storieshero__section-image-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.storieshero__section-image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 520px) {
  .storieshero__section-image-container img {
    -o-object-position: center;
       object-position: center;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 520px) {
  .storieshero__section-image-container {
    position: initial;
  }
}

.storieshero__section-text-container-text {
  padding: 10% 7%;
}

@media (max-width: 768px) {
  .storieshero__section-text-container-text {
    padding: 10% 5%;
  }
}

@media (max-width: 520px) {
  .storieshero__section-text-container-text {
    background-color: black;
    padding: 10% 7%;
  }
}

.storieshero__section-text-container-text--paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.storieshero__section-text-container-text--paragraph h5 {
  color: rgba(255, 255, 255, 0.95);
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.storieshero__section-text-container-text--paragraph h1 {
  color: white;
  letter-spacing: 3px;
  margin-bottom: 1.5rem;
}

.storieshero__section-text-container-text--paragraph p {
  max-width: 400px;
  text-align: left;
  margin-bottom: 1.5rem;
}

.storieshero__section-text-container-text--paragraph p span {
  margin-left: 5px;
}

.storieshero__section-text-container-text--paragraph a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.storieshero__section-text-container-text--paragraph a p {
  letter-spacing: 2px;
  font-weight: 700;
  color: white;
  margin-bottom: 0;
}

.storieshero__section-text-container-text--paragraph a svg {
  margin-left: 16px;
}

.stories__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stories__wrapper .story-container {
  -ms-flex-preferred-size: calc(100% / 4);
      flex-basis: calc(100% / 4);
  position: relative;
  height: 450px;
  width: 100%;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

@media (max-width: 1024px) {
  .stories__wrapper .story-container {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 520px) {
  .stories__wrapper .story-container {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 400px;
  }
}

.stories__wrapper .story-container .story-img-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.stories__wrapper .story-container .story-img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(0.55);
          filter: brightness(0.55);
}

.stories__wrapper .story-container .text-wrapper {
  padding: 6% 7%;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-width: 1024px) {
  .stories__wrapper .story-container .text-wrapper {
    padding: 2.5rem;
  }
}

@media (max-width: 520px) {
  .stories__wrapper .story-container .text-wrapper {
    padding: 2rem;
  }
}

@media (max-width: 375px) {
  .stories__wrapper .story-container .text-wrapper {
    padding: 1.5rem;
  }
}

.stories__wrapper .story-container .text-wrapper p:nth-child(1) {
  margin-bottom: 5px;
}

.stories__wrapper .story-container .text-wrapper h3 {
  color: white;
  font-size: calc(.5em + .8vw);
  margin-bottom: 3px;
}

@media (max-width: 1024px) {
  .stories__wrapper .story-container .text-wrapper h3 {
    font-size: 1.2rem;
  }
}

.stories__wrapper .story-container .text-wrapper .author {
  margin-bottom: 12px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12.5px;
}

.stories__wrapper .story-container .text-wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.33);
  padding-top: 16px;
  letter-spacing: 2px;
  font-weight: 700;
}

.stories__wrapper .story-container .text-wrapper a p {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
  letter-spacing: 2px;
}

.stories__wrapper .story-container:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.pricinghero__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

@media (max-width: 520px) {
  .pricinghero__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.pricinghero__section-hero-text-container {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricinghero__section-hero-text {
  padding: 0 10%;
}

@media (min-width: 1400px) {
  .pricinghero__section-hero-text {
    padding: 0 17%;
  }
}

@media (max-width: 520px) {
  .pricinghero__section-hero-text {
    padding: 15% 7%;
  }
}

.pricinghero__section-hero-text h1 {
  color: white;
  margin-bottom: 1.5rem;
  letter-spacing: 3px;
}

.pricinghero__section-text {
  position: relative;
}

.pricinghero__section-text::after {
  content: "";
  position: absolute;
  left: -12.4%;
  top: 0;
  height: 100%;
  width: 5px;
  background: -webkit-gradient(linear, left bottom, left top, from(#FFC593), color-stop(#BC7198), to(#5A77FF));
  background: linear-gradient(to top, #FFC593, #BC7198, #5A77FF);
}

@media (min-width: 1400px) {
  .pricinghero__section-text::after {
    left: -25.7%;
  }
}

@media (max-width: 520px) {
  .pricinghero__section-text::after {
    height: 6px;
    width: 110px;
    left: 0;
    top: -15vw;
    background: -webkit-gradient(linear, left top, right top, from(#FFC593), color-stop(#BC7198), to(#5A77FF));
    background: linear-gradient(to right, #FFC593, #BC7198, #5A77FF);
  }
}

.pricinghero__section-image-container img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 520px) {
  .pricinghero__section-image-container img {
    -o-object-position: center;
       object-position: center;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.plan__section {
  padding: 8% 10% 2rem;
}

@media (max-width: 768px) {
  .plan__section {
    padding: 8% 5%;
  }
}

@media (max-width: 425px) {
  .plan__section {
    padding: 12% 5%;
  }
}

.plan__section p {
  font-weight: 500;
}

.plan__section .switch-wrapper {
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4rem;
}

.plan__section .switch-wrapper p {
  font-weight: 700;
}

.plan__section .switch-wrapper p.monthly {
  color: black;
}

.plan__section .switch-wrapper button {
  position: relative;
  width: 50px;
  background-color: #DFDFDF;
  height: 26px;
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 0 16px;
}

.plan__section .switch-wrapper button.bg {
  background-color: black;
}

.plan__section .switch-wrapper button span {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  top: 2.8px;
  left: 3.2px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.plan__section .switch-wrapper button span.active {
  -webkit-transform: translateX(22px);
          transform: translateX(22px);
}

.plan__section .switch-wrapper button span.bg {
  background-color: #dfdfdf;
}

.plan__section .plan-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

@media (max-width: 950px) {
  .plan__section .plan-item {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }
}

.plan__section .plan-item .plan {
  height: 370px;
  text-align: center;
  padding: 1.5rem;
  padding-top: 3.5rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 950px) {
  .plan__section .plan-item .plan {
    padding: 2rem;
    position: relative;
    height: unset;
    text-align: left;
    width: 100%;
    display: unset;
  }
  .plan__section .plan-item .plan p {
    max-width: 270px;
  }
  .plan__section .plan-item .plan .price {
    position: absolute;
    top: 0;
    right: 2rem;
    text-align: right;
  }
  .plan__section .plan-item .plan button {
    max-width: 270px;
    padding: 50px;
  }
}

@media (max-width: 480px) {
  .plan__section .plan-item .plan {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    text-align: center;
  }
  .plan__section .plan-item .plan p {
    max-width: 100%;
  }
  .plan__section .plan-item .plan button {
    max-width: 100%;
  }
  .plan__section .plan-item .plan .price {
    position: initial;
    text-align: center;
  }
}

.plan__section .plan-item .plan h2 {
  margin-bottom: 1rem;
}

.plan__section .plan-item .plan .price {
  margin-top: 1.8rem;
}

.plan__section .plan-item .plan .price h2 {
  margin-bottom: 0;
  font-size: 2.5rem;
}

.plan__section .plan-item .plan:nth-child(odd) {
  background: #F5F5F5;
}

.plan__section .plan-item .plan:nth-child(odd) button {
  background-color: black;
  color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0;
  font-size: 15px;
  letter-spacing: 3px;
  outline: none;
  border: none;
  margin-top: 2.2rem;
  cursor: pointer;
}

.plan__section .plan-item .plan:nth-child(2) {
  height: 420px;
  background-color: black;
  position: relative;
}

.plan__section .plan-item .plan:nth-child(2) h2 {
  color: white;
}

@media (max-width: 950px) {
  .plan__section .plan-item .plan:nth-child(2) {
    height: unset;
  }
}

.plan__section .plan-item .plan:nth-child(2) button {
  background-color: white;
  color: black;
  width: 90%;
  padding: 15px 0;
  font-size: 15px;
  letter-spacing: 3px;
  outline: none;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.3rem;
  cursor: pointer;
}

.plan__section .plan-item .plan:nth-child(2)::after {
  position: absolute;
  content: "";
  left: 0;
  top: -8px;
  width: 100%;
  height: 8px;
  background: -webkit-gradient(linear, left top, right top, from(#FFC593), color-stop(#BC7198), to(#5A77FF));
  background: linear-gradient(90deg, #FFC593, #BC7198, #5A77FF);
}

@media (max-width: 950px) {
  .plan__section .plan-item .plan:nth-child(2)::after {
    display: none;
  }
}

@media (max-width: 480px) {
  .plan__section .plan-item .plan:nth-child(2)::after {
    display: block;
    top: -5px;
    height: 5px;
  }
}

.pricing__table {
  padding: 8% 10%;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .pricing__table {
    padding: 8% 0;
  }
}

@media (max-width: 425px) {
  .pricing__table {
    padding: 15% 0 0;
  }
}

.pricing__table .pricing__table__heading {
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  margin-top: 50px;
  letter-spacing: 3px;
}

.pricing__table .pricing__table {
  font-size: 14px;
  letter-spacing: 2px;
  background-color: orange;
}

.pricing__table .pricing__table--x {
  padding: 25px 0;
}

.pricing__table .pricing__table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 0;
  border-bottom: 1px solid get-color(light-gray);
}

.pricing__table .pricing__table__row:nth-of-type(1) {
  border-bottom: 1px solid black;
}

.pricing__table .pricing__table__row--feature {
  width: 40%;
  padding-left: 15px;
}

.pricing__table .pricing__table__row--plans, .pricing__table .pricing__table__row--available {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

.pricing__table .pricing__table__row--plans li {
  text-align: center;
  width: calc(100% / 3);
}

.pricing__table .pricing__table__row--available li {
  position: relative;
  width: calc(100% / 3);
  height: 100%;
}

.pricing__table .pricing__table__row--available li.checked {
  background-image: url(../Assets/pricing/desktop/check.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 800px) {
  .pricing__table {
    margin: -50px 8vw 60px;
  }
}

@media (max-width: 735px) {
  .pricing__table .pricing__table__heading {
    margin-bottom: 30px;
  }
  .pricing__table .pricing__table__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 22px 0;
  }
  .pricing__table .pricing__table__row--feature, .pricing__table .pricing__table__row--available {
    width: 100%;
    padding-left: 0;
  }
  .pricing__table .pricing__table__row--available {
    height: 40px;
    margin-top: 15px;
  }
  .pricing__table .pricing__table__row--available li::before {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 11px;
    color: black;
  }
  .pricing__table .pricing__table__row--available li:nth-of-type(1)::before {
    content: 'Basic';
  }
  .pricing__table .pricing__table__row--available li:nth-of-type(2)::before {
    content: 'Pro';
  }
  .pricing__table .pricing__table__row--available li:nth-of-type(3)::before {
    content: 'Business';
  }
  .pricing__table .pricing__table__row--available li.checked {
    background-position: left bottom;
  }
  .pricing__table .pricing__table__row--plans {
    display: none;
  }
}
/*# sourceMappingURL=App.css.map */